header {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: #fff;
  min-height: 100px;
  padding-top: 10px;
}

header .logo {
    width: 200px;
    height: 75px;
  }
  .card-header{
      background-image: linear-gradient(#04519b, #044687 60%, #033769);
      color: #fff !important;
  }
  .border{
      border-radius: 1px;
      border-width: thin;
  }
  .border img{
      width: 85px;
  }
  .comment-avatar img {
  width: 40px;
  margin-right: 5px;
}
.friends ul li {
  list-style: none;
  padding: 0 5px;
  display: inline; 
  float: left;
}
.friends ul li img {
  width: 55px;
}
.card-header {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: #fff !important;
}
.bubble {
  position: relative;
  width: 580px;
  min-height: 65px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}